body {
    font-family: Verdana;
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:#444;
}
form {
    padding:20px;
    color:#fff;
}
form select, input {
    margin-top:15px;
    background:#fff;
    border:0;
    padding:15px;
}
select, button, input {
    display:block;
    margin-bottom:25px;
    border-radius:50px;
}
button {
    padding:15px 40px;
    background:#333;
    margin-top:15px;
    border:0;
    font-size:18px;
    color:#fff;
    cursor:pointer;
}
form #result {
    border:0;
    padding:15px 40px;
    margin-top:15px;
    font-size:18px;
}